extends layout 

block content 

    div.author-header
        h1 #{author.first_name} #{author.family_name}
        p #{author.lifespan}

    div

        h4 Books

        ul.book-list 
            each book in author_books 
                li.item 
                    a(href=book.url) #{book.title}
                    p.summary #{book.summary}
            else 
                p This author has no books.
    hr
    p
        a(href=author.url+'/delete')
            button.btn.btn-primary(type='submit') Delete
            