extends layout

block content
  h1= title

  br
  br

  h2 Library Stats

  if error
    p Error getting dynamic content.
  else

    ul.stats
      li.stat-item #[strong Books:] !{data.book_count}
      li.stat-item #[strong Copies:] !{data.book_instance_count}
      li.stat-item #[strong Copies available:] !{data.book_instance_available_count}
      li.stat-item #[strong Authors:] !{data.author_count}
      li.stat-item #[strong Genres:] !{data.genre_count}
